Package: com.innoying.sbsutils
Name: sbsutils
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: innoying
Author: innoying
Section: System
Tag: role::hacker
