Package: com.innoying.sbutils
Name: sbutils
Version: 1.0.2
Architecture: iphoneos-arm
Description: iOS utilities - replaces some broken Erica utilities and adds a bunch of new ones
Maintainer: innoying
Author: innoying
Section: System
Tag: role::hacker
